

a.indexSlideButton{
	background-color: rgba(0, 0, 0, 0.0);
	    width: 387px !important;
	    height: 90px !important;
	    color: rgba(0, 0, 0, 0.0);
	    position: absolute;
	    right: 93px;
	    bottom: 71px;
	    z-index: 9999;
	div{
		background-color: rgba(0, 0, 0, 0.0);
	    width: 387px !important;
	    height: 90px !important;
	    color: rgba(0, 0, 0, 0.0);
	    position: absolute;
	    right: 93px;
	    bottom: 71px;
	    z-index: 9999;
	}
}