a.womanLink{
	background-color: rgba(0, 0, 0, 0.0);
    width: 300px !important;
    height: 100px !important;
    color: transparent;
    position: absolute;
    right: 243px;
    bottom: 220px;
    z-index: 9999;
	div{
		
}
}
a.manLink{
	background-color: rgba(0, 0, 0, 0.0);
    width: 300px !important;
    height: 100px !important;
    color: transparent;
    position: absolute;
    left: 247px;
    bottom: 220px;
    z-index: 9999;
	div{
		
}
}